<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>cahire.club</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/layout.css" rel="stylesheet" type="text/css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Droid Sans:400,700"]  }});</script>
</head>
<body class="body">
  <nav class="nav">
    <div class="nav-logo">
      <img src="images/logo_transparent_background.png" class="nav-logo-img">
    </div>
    <div class="nav-links"><a href="#form-car-selection" class="nav-links-link">compare prices</a><a href="#links-section" class="nav-links-link">top destinations</a><a href="#links-section" class="nav-links-link">leading suppliers</a></div>
  </nav>
  <div class="header">
    <div class="header-text-container">
      <h1 class="header-text-container-h1" data-ix="headertextscroll">Worldwide Car Hire - Search, Compare, Save</h1>
      <h2 class="header-text-container-h2">Car hire club compares 100&#x27;s of leading suppliers in 1000&#x27;s of locations</h2>
    </div>
    <div class="header-second-row">
      <div class="header-second-row-form" id="form-car-selection">
        <div id="rc-connect-container"></div> 
        <script id='rc-connect' src='https://www.rentalcars.com/partners/integrations/connect/connect.js' data-container='rc-connect-container' data-preflang='en' data-enable-return-checkbox='true' data-affiliate-code='carhirecl115' data-primary='FF8B69' data-button-radius='0' data-button-size='large' data-text='5F5F5F'></script>  
      </div>
    </div>
  </div>
  <div class="main-content-section">
    <div class="header-second-row-brand-logos">
      <h1 class="brands-heading">Compare deals from the biggest brands in car hire</h1>
      <div class="brand-logos-container"><img src="images/alamo_logo_lrg.gif" class="brand-logo"><img src="images/europcar_logo_lrg.gif" class="brand-logo"><img src="images/avis_logo_lrg.gif" class="brand-logo"><img src="images/enterprise_logo_lrg.gif" class="brand-logo"><img src="images/dollar_logo_lrg.gif" class="brand-logo"><img src="images/thrifty_logo_lrg.gif" class="brand-logo"><img src="images/budget_logo_lrg.gif" class="brand-logo"><img src="images/hertz_logo_lrg.gif" class="brand-logo"></div>
    </div>
    <div class="benefits-list">
      <div class="benefit-item"><img src="images/check.png" class="tick">
        <p class="benefit-text">Free Cancellation</p>
      </div>
      <div class="benefit-item">
        <div class="benefit-item"><img src="images/check.png" class="tick">
          <p class="benefit-text">24/7 freephone support</p>
        </div>
      </div>
      <div class="benefit-item">
        <div class="benefit-item"><img src="images/check.png" class="tick">
          <p class="benefit-text">No credit card fees</p>
        </div>
      </div>
    </div>
    <div class="content-paragraph-container w-clearfix"><img src="images/automobile-automotive-autumn-228094.jpg" srcset="images/automobile-automotive-autumn-228094-p-500.jpeg 500w, images/automobile-automotive-autumn-228094-p-1080.jpeg 1080w, images/automobile-automotive-autumn-228094-p-1600.jpeg 1600w, images/automobile-automotive-autumn-228094-p-2000.jpeg 2000w, images/automobile-automotive-autumn-228094-p-2600.jpeg 2600w, images/automobile-automotive-autumn-228094-p-3200.jpeg 3200w, images/automobile-automotive-autumn-228094.jpg 5184w" sizes="(max-width: 479px) 92vw, 350px" class="content-image-1">
      <p class="content-paragrah"><strong class="bold-text">Compare car hire deals online</strong><br><br>Car hire club compares leading rental car providers in over 20,000 locations worldwide, meaning we can help you find the right car at the best price right where you need it. Whether you&#x27;re in need of a premium saloon, 7 seat people carrier or a hatchback to get you to the beach we&#x27;ve got you covered..<br><br>Comparing options take moments and selected the car you need is straightforward. Once you have booked your car hire our 24/7 freephone call centre is available to assist with questions or booking amendments if required.<br><br>Renting a car from any of our worldwide locations saves money, time and most of all ensure you enjoy your travel knowing your hire car is good hands.<br><br>Working with leading suppliers in over 20,000 destinations means we&#x27;re able to get you the best rates and availability so you have the car you need at the best available rate. <br><br>We don&#x27;t add any booking or credit card fees to your rental and give free cancellation and amendments, just make it that little bit easier should you need to make any changes to your reservation. <br></p>
    </div>
    <div class="benefits-list">
      <div class="benefit-item"><img src="images/check.png" class="tick">
        <p class="benefit-text">Over 20,000 locations</p>
      </div>
      <div class="benefit-item">
        <div class="benefit-item"><img src="images/check.png" class="tick">
          <p class="benefit-text">Leading suppliers</p>
        </div>
      </div>
      <div class="benefit-item">
        <div class="benefit-item"><img src="images/check.png" class="tick">
          <p class="benefit-text">Real-time availability</p>
        </div>
      </div>
    </div>
    <div class="content-paragraph-container w-clearfix"><img src="images/car-carefree-chucks-51397.jpg" srcset="images/car-carefree-chucks-51397-p-1080.jpeg 1080w, images/car-carefree-chucks-51397-p-1600.jpeg 1600w, images/car-carefree-chucks-51397-p-2000.jpeg 2000w, images/car-carefree-chucks-51397.jpg 2165w" sizes="(max-width: 479px) 92vw, 350px" class="content-image-2">
      <p class="content-paragrah"><strong class="bold-text">Enjoy car hire peace of mind</strong><br><br>Working with leading suppliers in over 20,000 destinations means we&#x27;re able to secure the best rates and availability, meaning you have the car you need at the best price. We don&#x27;t add any booking or credit card fees to your rental and give free cancellation and amendments, just to make it that little bit easier should you need to make any changes to your booking.<br><br>Our car hire deals offer flexible pick-up and drop-off options. Vehicles can be returned to a different drop-off location when you’re done for convenience.</p>
    </div>
    <div class="cta-section w-clearfix">
      <div class="cta-copy-container">
        <div class="cta-copy">Compare car hire prices &amp; book now</div>
      </div>
      <a href="#form-car-selection">
        <div class="cta-button-style">
          <div>Search</div>
        </div>
      </a>
    </div>
    <div class="faq-section">
      <div class="faq-section-item">
        <div class="faq-section-item-question">
          <div>What additional fees do you charge?</div>
        </div>
        <div class="faq-section-item-answer">
          <div>We add no fees to your rental cost and the majority of our suppliers include insurances, taxes, airport and road fees in the booking price. You may pay for any add-ons when you pick your car up such as one-way or out of hour fees if this is the case we will make you aware before booking. Drivers under 21 may have a young driver fee to pay when the vehicle is collected, again if this is the case we will make this clear at the point of booking. <br><br>Add-ons such as GPS and child seats are usually paid for when the car is collected <strong>Top Tip - </strong>if you require GPS or child seats, taking your own will save money.<br><br>Whilst insurance is included on the vast-majority of our rentals, you may wish to increase the level of cover. All options are detailed in your booking T&amp;C&#x27;s - ensure to check on these before booking your rental car.</div>
        </div>
      </div>
      <div class="faq-section-item">
        <div class="faq-section-item-question">
          <div>Do I need a credit card to hire a car?</div>
        </div>
        <div class="faq-section-item-answer">
          <div>Most providers will require a credit card in the main driver name at pickup. A hold will be placed on this card until the vehicle is returned at the end of the rental period. Please be sure to check your car hire terms and conditions for the specific hold amount for your rental.</div>
        </div>
      </div>
      <div class="faq-section-item">
        <div class="faq-section-item-question">
          <div>What size car do I need?</div>
        </div>
        <div class="faq-section-item-answer">
          <div>This really comes down to the number of passengers and baggage you plan to carry in the car. A family of four with a bag each should look for a compact class car or larger, this is similar to a VW Golf or Ford Focus. Whilst two people both with a bag could fit comfortably in a mini class vehicle such as a Ford Ka.</div>
        </div>
      </div>
      <div class="faq-section-item">
        <div class="faq-section-item-question">
          <div>Will I need to purchase additional insurance cover?</div>
        </div>
        <div class="faq-section-item-answer">
          <div>Booking car hire with car hire club means you are fully insured to drive the vehicle, however there are some exclusions to a typical hire car policy that you may wish to include at an extra cost. For example, damage to tires, undercarriage and windscreen is normally not covered. Car hire suppliers are also likely to leverage an insurance excess in the event of damage.<br>‍<br><strong>Top Tip - </strong>When booking your vehicle you will be given the option to take out an excess protection policy - this can save you further money on your total rental cost if you wish to take full cover. In which case you would be reimbursed in full if you lost any or all of you car hire insurance excess due to accidental damges, scratches, dints etc. Please full terms and conditions for coverage inclusions.<br></div>
        </div>
      </div>
      <div class="faq-section-item">
        <div class="faq-section-item-question">
          <div>How old do I need to be to hire a car?</div>
        </div>
        <div class="faq-section-item-answer">
          <div>Most rental companies accept drivers over 18, however there will be restrictions for premium, luxury and 7 or 9 seat vehicles in most locations, when a driver is under 21 there is usually an additional young driver fee to be paid when the car is collected. This will all be made clear at the point of booking.</div>
        </div>
      </div>
      <div class="faq-section-item">
        <div class="faq-section-item-question">
          <div>Do you include all fees in your rental price?</div>
        </div>
        <div class="faq-section-item-answer">
          <div>In most cases all fees are included, however one-way fees, young driver fees and any extra&#x27;s such as child car seats &amp; sat-nav may incurr additional fees at pick-up with some suppliers. If this is the case we will be sure to advise you when booking.</div>
        </div>
      </div>
      <div class="faq-section-item">
        <div class="faq-section-item-question">
          <div>How do I find the cheapest car hire deal?</div>
        </div>
        <div class="faq-section-item-answer">
          <div>Let us do the hard work for you! it takes seconds to tell us what you need, we then compare hundreds of car hire suppliers in over 20,000 locations to ensure you find the right car at the best price exactly where you need it. </div>
        </div>
      </div>
    </div>
    <div class="cta-section w-clearfix">
      <div class="cta-copy-container">
        <div class="cta-copy">Check car hire rates and availability</div>
      </div>
      <a href="#form-car-selection">
        <div class="cta-button-style">
          <div>Search</div>
        </div>
      </a>
    </div>
    <div id="links-section" class="links-section">
      <div class="link-column">
        <div class="link-column-header">
          <h5 class="link-header">Top Destinations</h5>
        </div>
        <div class="link-column-links"><a href="#" class="link-section-link">Malaga car hire</a><a href="#" class="link-section-link">Nice car hire</a><a href="#" class="link-section-link">Pisa car hire</a><a href="#" class="link-section-link">Paris car hire</a><a href="#" class="link-section-link">Sydney car hire</a><a href="#" class="link-section-link">Murcia car hire</a><a href="#" class="link-section-link">Naples car hire</a><a href="#" class="link-section-link">Tenerife car hire</a><a href="#" class="link-section-link">Orlando car hire</a></div>
      </div>
      <div class="link-column">
        <h5 class="link-header">Airports</h5>
        <div class="link-column-links"><a href="#" class="link-section-link">Geneva airport car hire</a><a href="#" class="link-section-link">belfast international car hire</a><a href="#" class="link-section-link">Nice airport car hire</a><a href="#" class="link-section-link">Sydney airport car hire</a><a href="#" class="link-section-link">Milan Malpensa airport car hire</a><a href="#" class="link-section-link">Naples airport car hire</a><a href="#" class="link-section-link">Orlando airport car hire</a><a href="#" class="link-section-link">Toulouse airport car hire</a><a href="#" class="link-section-link">Bordeaux car hire</a></div>
      </div>
      <div class="link-column">
        <h5 class="link-header">Car Hire Companies</h5>
        <div class="link-column-links"><a href="#" class="link-section-link">Alamo car hire</a><a href="#" class="link-section-link">Avis car hire</a><a href="#" class="link-section-link">Budget car hire</a><a href="#" class="link-section-link">Hertz car hire</a><a href="#" class="link-section-link">Enterprise car hire</a><a href="#" class="link-section-link">Budget car hire</a><a href="#" class="link-section-link">Thrifty car hire</a><a href="#" class="link-section-link">Sixt car hire</a><a href="#" class="link-section-link">Dollar car hire</a></div>
      </div>
      <div class="link-column">
        <h5 class="link-header">Related Searches</h5>
        <div class="link-column-links"><a href="#" class="link-section-link">7 seater car hire</a><a href="#" class="link-section-link">Convertible car hire</a><a href="#" class="link-section-link">One-way car hire</a><a href="#" class="link-section-link">Premium car hire</a><a href="#" class="link-section-link">Luxury car hire</a><a href="#" class="link-section-link">Airport car hire</a><a href="#" class="link-section-link">Cheap car hire</a><a href="#" class="link-section-link">Compare car hire</a><a href="#" class="link-section-link">9 seater car hire</a></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-item"><a href="#" class="footer-link">Privacy Policy</a></div>
    <div class="footer-item"><a href="#" class="footer-link">Sitemap</a></div>
    <div class="footer-item">
      <div class="footer-copyright">Ⓒ 2018 Carhire.club</div>
    </div>
  </div>
</body>
</html>